body {
    margin: 10px;

}

#creat{
    background-color: gray;
    color: tomato;
    border: 3px solid black;
    text-align: center;
}
#countdown{
    padding: 40px;
    border: 1px solid white;
    border-radius: 50px ;
    background-color: black;
    color: tomato;
}

.my-container{
    border: 1px solid black;
    border-radius: 100px;
    display: block;
}

.my-row{
    background-color: #ff6347;
    border: 3px solid black;
}
.my-col{
    height: 100px;
}
.text {
    font-size: 40px;
    margin: 30px;
    text-align: center;
}
.loginforum{
left: 100px;
}
#username{
    margin: 10px;
}
#klas{
    margin-left: 20px;
}
#input1{
    width: 100px;
}
#input2{
    width: 100px;
    margin-left: 40px;
}
#start{
    margin-left: 5px;
    margin-top: 15px;
    position: fixed;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    transition: 0.5s;
}
#AllRows{
    display: none;
}



.my-row2{
    background-color: gray;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.my-col2 {
    height: 20px;
}
.my-row3{
    background-color: #ff6347;

    border: 3px solid black;
}
.my-col3{
    height: 100px;
}
.antwoorden{
    background-color: gray;
    height: 250px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}


.antwoord1{
    box-shadow: 0 8px 16px black;
    margin: 20px;
    color: black;
    background-color: #ff6347;
    border: 1px solid black;
    border-radius: 80px;
    padding-top: 75px;
    padding-bottom: 75px;
    transition-duration: 0.5s;
    margin-left: 150px;
}
.antwoord1:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}


.antwoord2{
    box-shadow: 0 8px 16px black;
    margin: 20px;
    color: black;
    background-color: #ff6347;
    border: 1px solid black;
    border-radius: 80px;
    padding-top: 75px;
    padding-bottom: 75px;
    transition-duration: 0.5s;
    margin-right: 150px;
}
.antwoord2:hover{

    background-color: black;
    color: white;
    border: 1px solid white;
}
.btn5{
    text-align: center;
    margin-top: 30px;
    border: 1px solid white;
    background-color: black;
    border-radius: 60px;
    transition-duration: 0.5s;
}
.btn5:hover{
    background-color: gray;
    border: 1px solid black;
}
.antwoord3{
    box-shadow: 0 8px 16px black;
    margin: 20px;
    color: black;
    background-color: #ff6347;
    border: 1px solid black;
    border-radius: 80px;
    padding-top: 75px;
    padding-bottom: 75px;
    transition-duration: 0.5s;
    margin-left: 150px;
}
.antwoord3:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}
.antwoord4{
    box-shadow: 0 8px 16px black;
    margin: 20px;
    color: black;
    background-color: #ff6347;
    border: 1px solid black;
    border-radius: 80px;
    padding-top: 75px;
    padding-bottom: 75px;
    transition-duration: 0.5s;
    margin-right: 150px;
}
.antwoord4:hover{

    background-color: black;
    color: white;
    border: 1px solid white;
}